html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, code, em, img, ol, ul, li,
form, label, article, aside, details, embed, 
figure, figcaption, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}

header, footer {
    display: block;
}

ol, ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}