:root {
  --header-background: #111;
  --primary-color: #fff;
  --primary-bg-clr: #f5f1f1;
  --signup-btn-bg: #63c24f;
  --login-btn-bg: #1877f2;
  --clear-all-btn-clr: #ff3f6c;
  --add-to-cart-btn-clr: #040426;
}
