<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../asset/brand.svg">
    <script src="https://kit.fontawesome.com/611bffe5ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/style.css">
    <title>Anything Kart</title>
</head>
<body class="signup-body">
    <div class="header-container">
        <header class="main-header flex align-item--center">
            <a class="main-header__brand flex" href="javascript:void(0)">
                <div class="main-brand--logo"><i class="fa-solid fa-dragon"></i></div>
                <h2 class="main-brand--text">anythingkart<span class="domain-text">.in</span></h2>
            </a>
            <nav class="main-nav">
                <ul class="main-nav__items flex">
                    <li class="main-nav--item search-bar">
                        <input class="search-bar--input" type="text" placeholder="Search">
                    </li>
                    <li class="main-nav--item header-signin_up--button">
                        <a class="nav-link" href="../index.html">
                            Login
                        </a>
                    </li>
                    <li class="main-nav--item">
                        <a class="nav-link" href="javascript:void(0)">
                            <i class="fa-solid fa-heart kart-icons">
                                <span class="badge-count" id="wishlist-count">0</span>
                            </i>
                        </a>
                    </li>
                    <li class="main-nav--item">
                        <a class="nav-link" href="components/index.html">
                            <i class="fa-solid fa-cart-shopping kart-icons">
                                <span class="badge-count" id="kart-count">0</span>
                            </i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <main class="sign-up-section flex flex-center">
        <form action="" class="flex flex-direction--column form-gap">
            <h2 class="form-heading">Sign-up</h2>
            <section class="form-group">
                <label class="form-label" for="email">Email address</label>
                <input class="form-input" type="email" id="email" placeholder="Email address" required>
            </section>
            <section class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-input" id="password" placeholder="Password" required>
            </section>
            <section class="flex form-checkbox--grp">
                <input type="checkbox">
                <label class="form-label" for="terms&conditions">I accept all terms and conditions</label>
            </section>
            <button class="form-btn sign-up-btn">Create New Account</button>
            <a class="existing-account--link" href="">Already have an account <span>></span></a>
        </form>
    </main>
<script src="/src/index.js" defer></script>
</body>
</html>